<div class="panel {panel-type}">
  <div class="bg retinafy" style="background-image: url({图片路径});"></div>
  <div class="inline"></div>
  <div class="panel-header">
    <div class="title"><span class="en">Title</span><span class="zh">标题</span></div>
    <div class="section-name"><span class="en">Section</span><span class="zh">栏目</span></div>
  </div>
  <h2><span class="en">Headline</span><span class="zh">大标题</span></h2>
  <div class="info">
    <span class="en">Description</span><span class="zh">描述</span>
    <a class="more" href="{链接}"><span class="en">Read more</span><span class="zh">阅读更多</span></a>
  </div>
</div>
